<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand text-danger" href="#">CARS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Accueil
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ajoutez une voiture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mes Cars</a>
          </li>
          </ul>
      </div>
    </div>
  </nav>
  <app-search-car></app-search-car>
  <div class="d-flex justify-content-center flex-wrap mt-5 ">
    <div *ngFor="let car of cars" class="card mb-4" style="width: 35%;">
        <h3 class="card-header bg-primary text-danger">ID #{{car.id}}</h3>
        <div class="card-body">
          <p class="card-text">Marque: {{car.marque}}</p>
          <p class="card-text">Modèle: {{car.modele}}</p>
        </div>
        <div class="card-body">
          <button (click)="goToDetailsCar(car)" class="btn btn-info">En savoir plus</button>
        </div>
        <div class="card-footer text-muted bg-primary">
            <p class="text-white mb-0">Créé le: {{car.createdAt | date:'MM/YYYY'}}</p>
        </div>
      </div>
  </div>
