<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand text-danger" href="#">CARS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Add new Car</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Cars</a>
          </li>
          </ul>
      </div>
    </div>
  </nav>
  <div class="container mt-5">
    <form (ngSubmit)="onSubmit()"  #form="ngForm">
          <legend class="mb-5">Partie Édition:</legend>
          <div class="row mb-2">
            <label for="marque" class="col-sm-2 col-form-label">Marque:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control-plaintext" required id="marque" name="marque" [(ngModel)]="car.marque" #marque="ngModel">
            </div >
            <div [hidden]="marque.valid || marque.pristine" >
                <p class="text-danger">La marque est requise</p>
            </div>
          </div>
          <div class="row mb-2">
            <label for="modele" class="col-sm-2 col-form-label">Modèle:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control-plaintext" required id="modele" name="modele" [(ngModel)]="car.modele" #modele="ngModel">
            </div>
            <div [hidden]="modele.valid || modele.pristine">
              <p class="text-danger">Le modèle est requis</p>
          </div>
          </div>
            <div class="row mb-2">
                <label for="annee_modele" class="col-sm-2 col-form-label">Année du modèle:</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control-plaintext" required pattern="^[0-9]{4}$" id="annee_modele" name="annee_modele" [(ngModel)]="car.annee_modele" #annee_modele="ngModel">
                </div>
                <div [hidden]="modele.valid || modele.pristine">
                 <p>L'année du modèle est requise et doit comporter 4 chiffres</p> 
              </div>
          </div>
          <div class="row mb-2">
            <label for="boite_vitesse" class="col-sm-2 col-form-label">Boite de vitesse</label>
            <div class="col-sm-10">
              <input type="text"  class="form-control-plaintext" id="boite_vitesse" name="boite_vitesse" [(ngModel)]="car.boite_vitesse" #boite_vitesse="ngModel">
            </div>
            </div>
         <div class="row mb-2">
            <label for="carburant" class="col-sm-2 col-form-label">Type d'essence:</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control-plaintext" id="carburant" name="carburant" [(ngModel)]="car.carburant" #carburant="ngModel">
            </div>
         </div>
          <div>
            <label for="image" class="form-label mt-4">Ajouter l'URL d'une image:</label>
            <input class="form-control" type="url" id="image" name="image" [(ngModel)]="car.image" #image="ngModel">
          </div>
          <button type="submit" class="btn btn-primary mt-5">Envoyez !</button>
          <button  class="btn btn-primary mt-5 ms-3">Retour</button>
      </form>
  </div>
